@page "/progression-3d"
@using Solve;
@using System.Threading;
@using Eater.Console;
@inject IJSRuntime jsRunTime;
@inject RunnerManager runnerManager;
@inject NavigationManager navigationManager;
@implements IAsyncDisposable;

<h1>Progression</h1>

<div id="@ChartContainerId" class="fullPaneView"></div>

@code {

	const string ChartContainerId = "progressionChart";

	Task chartDispose = Task.CompletedTask;
	//GenomeFactoryMetrics metrics;
	//Timer? timer = null;

	protected override Task OnInitializedAsync()
	{
		navigationManager.LocationChanged += HandleLocationChanged!;
		//metrics = runnerManager.FactoryMetrics;

		return base.OnInitializedAsync();
	}

	private void HandleLocationChanged(object sender, LocationChangedEventArgs e)
	{
		chartDispose = DisposeChart(chartDispose);
	}

	async Task DisposeChart(Task previous)
	{
		var completed = previous.IsCompleted;
		await previous;
		if (completed) await jsRunTime.InvokeVoidAsync(CHART_DISPOSE);
	}

	const string JS_PREFIX = "main.towerProgressionView.";
	const string CHART_INIT = JS_PREFIX + "init";
	const string CHART_DISPOSE = JS_PREFIX + "dispose";


	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		await chartDispose;
		if (firstRender)
			await jsRunTime.InvokeVoidAsync(CHART_INIT, ChartContainerId);
		await base.OnAfterRenderAsync(firstRender);
	}

	public async ValueTask DisposeAsync()
	{
		var d = DisposeChart(chartDispose);
		chartDispose = d;
		await d;
	}
}
